# Analise usando Querys

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('Dados/movehubcostofliving.csv')
data.shape

(216, 7)

In [3]:
data.head()

,City,Cappuccino,Cinema,Wine,Gasoline,Avg Rent,Avg Disposable Income
0,Lausanne,3.15,12.59,8.40,1.32,1714.00,4266.11
1,Zurich,3.28,12.59,8.40,1.31,2378.61,4197.55
2,Geneva,2.80,12.94,10.49,1.28,2607.95,3917.72
3,Basel,3.50,11.89,7.35,1.25,1649.29,3847.76
4,Perth,2.87,11.43,10.08,0.97,2083.14,3358.55

In [5]:
# Onde o Cappuccino é mais barato?
print(data[['City','Cappuccino']].sort_values(by = 'Cappuccino').head(5).reset_index(drop = True))

The Places where Cappuccino is Very Cheap
          City  Cappuccino
0  Addis Ababa        0.46
1        Kochi        0.60
2      Chennai        0.66
3        Porto        0.68
4    Ahmedabad        0.72

In [6]:
# Onde o Cappuccino é mais caro?
print(data[['City','Cappuccino']].sort_values(by = 'Cappuccino',ascending = False).head(5).reset_index(drop = True))

         City  Cappuccino
0   Stavanger        4.48
1      Bergen        3.92
2   Nashville        3.84
3   Trondheim        3.81
4  Copenhagen        3.66

In [7]:
# Onde o Cinema é mais barato?
print(data[['City','Cinema']].sort_values(by = 'Cinema').head(5).reset_index(drop = True))

        City  Cinema
0  Hyderabad    1.81
1    Chennai    1.81
2      Kochi    1.81
3      Davao    1.90
4      Dhaka    2.09

In [8]:
# Onde o Cinema é mais caro?
print(data[['City','Cinema']].sort_values(by = 'Cinema',ascending = False).head(5).reset_index(drop = True))

       City  Cinema
0    Riyadh   79.49
1  Brighton   14.95
2    Geneva   12.94
3  Lausanne   12.59
4    Zurich   12.59

In [9]:
# Onde o Vinho é mais barato?
print(data[['City','Wine']].sort_values(by = 'Wine').head(5).reset_index(drop = True))

        City  Wine
0      Braga  2.13
1   Budapest  2.85
2  Bucharest  2.94
3     Lisbon  2.98
4     Malaga  2.98

In [10]:
# Onde o Vinho é mais caro?
print(data[['City','Wine']].sort_values(by = 'Wine',ascending = False).head(5).reset_index(drop = True))

        City   Wine
0     Tehran  26.15
1     Manama  19.61
2     Riyadh  17.43
3    Jakarta  16.83
4  Singapore  15.82

In [11]:
# Onde a Gasolina é mais barato?
print(data[['City','Gasoline']].sort_values(by = 'Gasoline').head(5).reset_index(drop = True))

      City  Gasoline
0  Caracas      0.07
1   Riyadh      0.08
2   Manama      0.17
3     Doha      0.18
4    Cairo      0.19

In [12]:
# Onde a Gasolina é mais caro?
print(data[['City','Gasoline']].sort_values(by = 'Gasoline',ascending = False).head(5).reset_index(drop = True))

        City  Gasoline
0      Izmir      1.69
1  Stavanger      1.68
2   Istanbul      1.66
3    Antalya      1.62
4     Bergen      1.57

In [13]:
# Onde o Aluguel é mais barato?
print(data[['City','Avg Rent']].sort_values(by = 'Avg Rent').head(5).reset_index(drop = True))

        City  Avg Rent
0   Vadodara    120.68
1      Kochi    181.02
2  Ahmedabad    193.08
3    Karachi    197.78
4     Indore    205.15

In [14]:
# Onde o Aluguel é mais caro?
print(data[['City','Avg Rent']].sort_values(by = 'Avg Rent', ascending = False).head(5).reset_index(drop = True))

        City  Avg Rent
0  Hong Kong   5052.31
1   New York   3268.84
2  Singapore   3164.42
3     Sydney   2788.71
4     Geneva   2607.95

In [15]:
# Onde é a cidade mais barata?
print(data[['City','Avg Disposable Income']].sort_values(by = 'Avg Disposable Income').head(5).reset_index(drop = True))

          City  Avg Disposable Income
0       Indore                 120.68
1  Addis Ababa                 124.22
2       Lahore                 132.95
3      Karachi                 139.60
4        Davao                 158.34

In [16]:
# Onde é a cidade mais cara?
print(data[['City','Avg Disposable Income']].sort_values(by = 'Avg Disposable Income',
                                                    ascending = False).head(5).reset_index(drop = True))

       City  Avg Disposable Income
0  Lausanne                4266.11
1    Zurich                4197.55
2    Geneva                3917.72
3     Basel                3847.76
4     Perth                3358.55